#!/usr/bin/env bash

#  shortcuts
alias chrome="open -a 'Google Chrome.app' --args --disable-web-security"
alias spotify="open -a 'Spotify.app'"
alias pure="open /Applications/Pd-0.50-0.app/"
alias vpn="/opt/cisco/anyconnect/bin/vpn connect vpn.ntnu.no"
alias vpnd="/opt/cisco/anyconnect/bin/vpn disconnect"
alias myip='curl ifconfig.co' # append -6 or -4 for IPv6 / IPv4
alias localip='ipconfig getifaddr en0'
alias brssh='ssh ulrik@165.227.128.215'
alias ntnu='ssh -X -C ulrikah@login.stud.ntnu.no' # vpn is a prerequisite
alias serve='nodemon -e html,js,py -x python3 -m http.server -b localhost' 
alias pyvenv='python -m venv'
alias du='du -h' # default flag is human readable
alias empty_trash='rm -rf ~/.Trash/*' # MacOS clear trash
alias approve='spctl --add --label "Approved"' # put an approved label to the specified .app
alias space='df -kh .'

# search
alias grep='grep --color'
# navigation
# lr:  Full Recursive Directory Listing
alias ls='ls -G'
alias lr='ls -R | grep ":$" | sed -e '\''s/:$//'\'' -e '\''s/[^-][^\/]*\//--/g'\'' -e '\''s/^/   /'\'' -e '\''s/-/|/'\'' | less'
alias ls..='ls ..'
alias la='ls -ar'
alias mv='mv -i' # don't overwrite as default
alias cp='cp -i' # don't overwrite as default
alias cl='clear'
alias g='git'
alias cd..='cd ../'                         # Go back 1 directory level (for fast typers)
alias -- -='cd -'
alias ..='cd ../'                           # Go back 1 directory level
alias ...='cd ../../'                       # Go back 2 directory levels
alias .3='cd ../../../'                     # Go back 3 directory levels
alias .4='cd ../../../../'                  # Go back 4 directory levels
alias .5='cd ../../../../../'               # Go back 5 directory levels
alias .6='cd ../../../../../../'            # Go back 6 directory levels
alias prog='cd ~/programming'
alias br='cd ~/breach'
alias desk='cd ~/Desktop'
alias music='cd ~/Music'
alias fag='cd ~/fag'
alias dl='cd ~/Downloads'
alias trash='cd ~/.Trash'
alias dirt='cd ~/Library/Application\ Support/SuperCollider/downloaded-quarks/Dirt-Samples/'
alias docs='cd ~/Documents'
alias apps='cd /Applications/'

alias python=python3
alias pip=pip3
alias py=python
alias cpwd='pwd | tr -d "\r\n" | pbcopy'
alias hgrep='history | grep --color=auto '

# dotfiles
alias dotfiles='cd ~/dotfiles'
alias dotinstall='~/dotfiles/install.sh -f'
alias dots='cd ~/dotfiles'
alias brc='vim ~/dotfiles/.bashrc'
alias sbrc='source ~/dotfiles/.bashrc'
alias sbpr='source ~/dotfiles/.bash_profile'
alias bpr='vim ~/dotfiles/.bash_profile'
alias als='vim ~/dotfiles/.aliases'
alias lals='vim ~/dotfiles/.aliases.local'
alias func='vim ~/dotfiles/.functions'
alias gcfg='vim ~/dotfiles/.gitconfig'

# misc
alias week='date +%V'
alias today='date +"Today is %D in week %W and year %Y"'
alias weather='curl -s wttr.in | sed -n "1,7p"'

# show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"
alias f='open -a Finder ./' # opens dir in Finder

# docker
alias dc='docker-compose'

# kubernetes
alias k='kubectl'
alias kc='kubectx'

# rust
alias c='cargo'
