#!/usr/bin/env bash

#  shortcuts
alias chrome="open -a 'Google Chrome.app' --args --disable-web-security"
alias vpn="/opt/cisco/anyconnect/bin/vpn connect vpn.ntnu.no"
alias vpnd="/opt/cisco/anyconnect/bin/vpn disconnect"
alias myip='curl ifconfig.co' # append -6 or -4 for IPv6 / IPv4
alias brssh='ssh ulrik@165.227.128.215'
alias ntnu='ssh -X -C ulrikah@login.stud.ntnu.no' # vpn is a prerequisite
alias pyserv='python -m http.server'

# navigation
# lr:  Full Recursive Directory Listing
alias lr='ls -R | grep ":$" | sed -e '\''s/:$//'\'' -e '\''s/[^-][^\/]*\//--/g'\'' -e '\''s/^/   /'\'' -e '\''s/-/|/'\'' | less'
alias ls..='ls ..'
alias la='ls -ar'
alias cl='clear'
alias g='git'
alias cd..='cd ../'                         # Go back 1 directory level (for fast typers)
alias ..='cd ../'                           # Go back 1 directory level
alias ...='cd ../../'                       # Go back 2 directory levels
alias .3='cd ../../../'                     # Go back 3 directory levels
alias .4='cd ../../../../'                  # Go back 4 directory levels
alias .5='cd ../../../../../'               # Go back 5 directory levels
alias .6='cd ../../../../../../'            # Go back 6 directory levels
alias du='du -h' # default flag is human readable

alias python=python3
alias pip=pip3
alias py=python
alias cpwd='pwd | tr -d "\r\n" | pbcopy'
alias herokudb='heroku pg:psql -a gruppe23-it2901'
alias hgrep='history | grep --color=auto '
alias src='source'
alias md='macdown'

# dotfiles
alias brc='vim ~/dotfiles/.bashrc'
alias sbrc='source ~/dotfiles/.bashrc'
alias sbpr='source ~/dotfiles/.bash_profile'
alias bpr='vim ~/dotfiles/.bash_profile'
alias als='vim ~/dotfiles/.aliases'
alias func='vim ~/dotfiles/.functions'

# misc
alias week='date +%V'
alias weather='curl -s wttr.in | sed -n "1,7p"'

# show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"
alias f='open -a Finder ./' # opens dir in Finder

