#!/bin/zsh

# language
export LC_ALL="en_US.UTF-8"

# colors
export LSCOLORS="exfxcxdxbxegedabagacad"

# deno
export DENO_DIR="$HOME/.cache/deno"

# colima
export DOCKER_HOST=unix://$HOME/.colima/docker.sock
export DOCKER_CONTEXT=colima
export TESTCONTAINERS_DOCKER_SOCKET_OVERRIDE=/var/run/docker.sock
export TESTCONTAINERS_HOST_OVERRIDE=0.0.0.0
