#!/usr/bin/env bash

mkcd()
{
        mkdir -p -- "$1" &&
                  cd -P -- "$1"
}

# cd does auto 'ls' with top five elements
cd()
{
	builtin cd "$@" && ls -U |head -5
}

# usage: hex2rgb "#FFAABB"
hex2rgb() {
    hex=$(echo "${1^^}" | sed 's/#//g')

    a=$(echo $hex | cut -c-2)
    b=$(echo $hex | cut -c3-4)
    c=$(echo $hex | cut -c5-6)

    r=$(echo "ibase=16; $a" | bc)
    g=$(echo "ibase=16; $b" | bc)
    b=$(echo "ibase=16; $c" | bc)

    echo "($r, $g, $b)"
}


# convert an input .flac file to a 320 kbps .mp3 file
flac2mp3() {
	ffmpeg -i "$1" -ab 320k -map_metadata 0 -id3v2_version 3 "${1%.flac}".mp3
}

stripspace(){
	for f in *\ *; do mv "$f" "${f// /_}"; done
}

mov2gif(){
	ffmpeg -i "$1" -pix_fmt rgb8 -r 8 -vf scale=-1:640 "${1%.mov}".gif
}
