#!/usr/bin/env bash

mkcd()
{
        mkdir -p -- "$1" &&
                  cd -P -- "$1"
}

# cd does auto 'ls' with top five elements
cd()
{
	builtin cd "$@" && ls -U |head -5
}

# usage: hex2rbg "#FFAABB"
hex2rgb() {
    hex=$(echo "${1^^}" | sed 's/#//g')

    a=$(echo $hex | cut -c-2)
    b=$(echo $hex | cut -c3-4)
    c=$(echo $hex | cut -c5-6)

    r=$(echo "ibase=16; $a" | bc)
    g=$(echo "ibase=16; $b" | bc)
    b=$(echo "ibase=16; $c" | bc)

    echo \($r, $g, $b\)
}


# TO DO: make this into a function
# script to convert an input .flac file to a 320 kbps .mp3 file
# ffmpeg -i input.flac -ab 320k -map_metadata 0 -id3v2_version 3 output.mp3
