# This is Git's per-user configuration file.
[user]
  name = ulrikah
  email = ulrikhalmoy@gmail.com

[credential]
  helper = osxkeychain


[alias]
  # "Long" Logs - render's the log with high signal and low noise
  l = log --oneline --date=relative
  ll = log \
  --graph \
  --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%an - %cr)' \
  --date=relative
  co = checkout
  br = branch
  pu = push	
  pl = pull
  cm = commit -m
  c = commit
  st = status -uall
  ls = ls-tree --full-tree -r --name-only HEAD
  d = diff
  df = diff -- ':!package-lock.json' ':!yarn.lock'
  uncommit = 'reset HEAD^' # remove last commit but keep changes
	
  # amend the currently staged files to last commit
  amend = commit --amend --reuse-message=HEAD
  ba = branch --all
  ca = !git add -A && git commit -av # stage all changes and enter interactive commit mode
  f = log --follow -p --
  cl = clone
  bclean = "!f() { git branch --merged ${1-main} | grep -v " ${1-main}$" | xargs git branch -D; }; f"

[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    features = line-numbers decorations
    whitespace-error-style = 22 reverse

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
